@import url("Root.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Body{
  overflow-x: hidden;
  background-color: rgb(var(--bg));
  list-style: none;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  color: rgb(var(--text-color));
  max-width: 100vw;
}
.navbar {
  width: 100vw;
  background-color: rgb(var(--primary));
}
.navbar.active{
  right: 0;
  z-index: 4;
}
a{
  text-decoration: none;
  color: rgb(var(--text-color));
  transition: 0.3s;
}
.Logo{
  height: 50px;
  border-radius: 5px;
  align-items: center;
}
.School{
  font-size: 20px;
  font-weight: 700;
  color: rgb(var(--text-color));
  text-align: center;
  padding: 2px;
}
.nav-links {
  list-style: none;
  display: grid;
  grid-template-columns: .5fr 3fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  text-decoration: none;
  color: rgb(var(--text-color));
  align-items: center;
  text-align: center;
  padding: 5px;
}
.nav-item {
  align-items: center;
  cursor: pointer;
}
.subnavbtn {
  font-family: inherit;
  background-color: inherit;
  font-size: 15px;
  color: inherit;
  border: none;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
}

.subnav {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: rgb(var(--primary));
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%,0);
}

.subnav-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: rgb(var(--text-color));
}

.subnav-content a:hover {
  color: rgb(var(--accent));
  transition: 0.3s ease;
}

.subnav:hover .subnav-content {
  display: block;
}

.close-btn{
  position: absolute;
  color: rgb(var(--accent));
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
  display: none;
}

.menu-btn{
  z-index: 2;
  margin: 0;
  position: relative;
  padding-top: 5px;
  color: rgb(var(--accent));
  font-size: 20px;
  cursor: pointer;
  display: none;
}
i{
  transform: translate(4px,1.75px);
  color: rgb(var(--accent));
}
.brands{
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 1rem;
}
.index-wrap{
  padding-bottom: 5rem;
  position: relative;
}
footer{
  background-color: rgb(var(--primary));
  text-decoration: none;
  margin-top: 2px;
  padding: 1rem 2rem;
  width: 100vw;
  height: 3.5rem;
  z-index: -1;
  bottom: 0;
  display: flex;
  align-items:center;
}
article{
  margin: 10px;
  text-align: center;
  margin-top: 30px;
}
article>p{
  font-size: 14px;
}
iframe{
  border: none;
  width: 100%;
  height: 80vh;
}
.fa-solid{
  color: rgb(var(--text-color));
}
@media(max-width:768px){
  .index-wrap{
    padding-bottom: 20rem;
  }
  article>p{
    font-size: 1.5vh;
  }
}
@media(max-width:740px) {
  Body{
    overflow-x: hidden;
  }
  footer{
    height: 3.5em;
    margin-top: auto;
  }
  article>p{
    font-size: 1.5vh; 
  }
  footer>p{
    font-size: 12px;
  }
  .Logo{
    position: absolute;
    right: 10.7em;
    margin-left: 10px;
  }
  .navbar{
   backdrop-filter: blur(15px); /* DO NOT TOUCH THIS, ITS WEIRDLY IMPORTANT*/
   width: 290px;
   height: 100%;
   position: fixed;
   top: 0;
   right: -100%;
   transition: 0.6s ease;
   transition-property: right;
  }
  .nav-links{
   width: 100%;
   margin-top: 80px;
   list-style: none;
   display: block;
   text-align: left;
   padding: 0;
  }
  .nav-item{
    text-align: left;
    padding: 16px 0 16px 30px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .subnavbtn{
    margin-left: 30px;
  }
  .subnav{
   display: block;
  }
  .subnav-content{
    background: rgb(var(--primary));
    display: none;
    position: relative;
    z-index: 0;
    border-radius: 0px;
  }
  .subnav-content a{
    padding: 0px;
    padding-left: 80px;
  }
  .subnav a{
   font-size: 16px;
   display: block;
   padding: 5px 30px;
   line-height: 60px;
   width: 100%;
  }
  i{
   margin-right: 15px;
  }
  .dropdown{
   position: absolute;
   right: 0;
   margin: 20px;
  }
  .close-btn{
  display: block;
  }
  .menu-btn{
    display: flex;
    flex-direction: row-reverse;
  }
  .brands{
    gap: 1rem;
  }
  li>img{
    display: none;
  }
}