@import url("Root.css");
#row1{
    margin-top: 10px;
    height: 25vh ;
    background-image: linear-gradient(to right, rgb(var(--primary)), rgb(var(--accent)) );
}
#row1,.hours, .meeting, .vary{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hours, .meeting, .vary{
    color: rgb(32,32,32);
    padding: 10px;
    aspect-ratio: 1/1;
    width: 200px;
    font-size: 24px;
}
.index-wrap{
    padding-bottom: 5em;
}
@media(max-width:740px){
    .hours, .meeting, .vary{
        width: 150px;
        font-size: 18px;
    }
}