  th:nth-child(n + 2):nth-child(-n + 4),
  td:nth-child(n + 2):nth-child(-n + 4),
  th:nth-child(7),
  td:nth-child(7),
  th:nth-child(9),
  td:nth-child(9),
  th:nth-child(n + 11):nth-child(-n + 12),
  td:nth-child(n + 11):nth-child(-n + 12),
  th:nth-child(n + 14):nth-child(-n + 16),
  td:nth-child(n + 14):nth-child(-n + 16) {
    display: none;
  }
  table{
    width: 100vw;
  }
