@import url("Root.css");
.Questions{
    font-size: 18px;
    font-weight: 500;
    color: rgb(var(--accent));
}
.Answers{
    font-size: 16px;
    font-weight: 300;
    color: rgb(var(--text-color));
}
.FAQ-wrap{
    padding-bottom: 10rem;
    position: relative;
  }