@import url("Root.css");
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
main {
  padding: 1rem 2rem;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titlecard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  text-align: center;
  padding: 1rem;
  border-radius: 10rem;
  letter-spacing: -4px;
  width: 75vw;
  background-color: rgb(var(--accent));
  transition: linear 0.1s;
  font-family: "Cinzel Decorative", serif;
  font-size: 80px;
  color: rgb(var(--white-text));
}
.titlecard:hover {
  border: 3px solid #0000;
  background: linear-gradient(
      var(--angle),
      rgb(var(--accent)),
      rgb(var(--secondary-Dark)) 50%,
      rgb(var(--primary))
    )
    border-box;
  animation: 8s rotate linear infinite;
}

.Motto {
  margin: 1.5rem;
  font-size: 36px;
}
.calendar {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: 15vw;
  height: 100%;
  background-color: rgb(var(--secondary));
  border-radius: 2rem;
  text-align: center;
  overflow: hidden;
}
.slider {
  display: flex;
  flex-direction: row;
  width: 500%;
}
.card {
  color: rgb(var(--white-text));
  background-color: rgb(var(--secondary));
  border-radius: 2.5rem;
  padding: 0.5rem;
  transition: ease-in 0.5s;
  width: 20%;
}

h4 {
  margin-bottom: 1.5rem;
  font-size: 28px;
}
.months {
  font-size: 18px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.radio-wrapper {
  display: block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[name="radio-Cal"],
input[name="radio-Pic"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio {
  position: absolute;
  bottom: 0;
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgb(var(--secondary-Dark));
  border-radius: 50%;
}
.radio-wrapper:hover .radio {
  background-color: rgb(var(--white-text));
}
#Fall-radio:checked ~ .options .radio-wrapper #Fall-label {
  background-color: rgb(var(--white-text));
}
#Spring-radio:checked ~ .options .radio-wrapper #Spring-label {
  background-color: rgb(var(--white-text));
}
#Opportunity-radio:checked ~ .options .radio-wrapper #Opportunity-label {
  background-color: rgb(var(--white-text));
}

#Fall-radio:checked ~ .slider #Fall {
  margin-left: 0%;
}
#Spring-radio:checked ~ .slider #Fall {
  margin-left: -20%;
}
#Opportunity-radio:checked ~ .slider #Fall {
  margin-left: -40%;
}
.bottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}
.whatis {
  width: 60vw;
  border-radius: 2rem;
  background-image: radial-gradient(
    ellipse at top,
    rgb(var(--primary)),
    rgb(var(--bg))
  );
  border: 1px solid rgb(var(--secondary-Dark));
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
h3 {
  font-size: 3rem;
}
.whatis p {
  font-size: 1.25rem;
  padding: 0.25rem;
}
.pics {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.img-slider {
  display: block;
  width: 40vw;
  aspect-ratio: 16/9;
  border: 2px solid rgb(var(--secondary-Dark));
  border-radius: 5rem;
  overflow: hidden;
}
.slide-wrapper {
  display: flex;
  flex-direction: row;
  width: 500%;
}
.img-slide {
  width: 20%;
  flex-shrink: 0;
  transition: ease-in-out 0.5s;
}

.radiowrapper-pic {
  margin: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.radiopic {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgb(var(--secondary-Dark));
  border-radius: 50%;
  transition: 0.25s;
}

.radiopic:hover {
  background-color: rgb(var(--accent));
}
#rad0:checked ~ .radiowrapper-pic #radio1 {
  background-color: rgb(var(--accent));
}
#rad1:checked ~ .radiowrapper-pic #radio2 {
  background-color: rgb(var(--accent));
}
#rad2:checked ~ .radiowrapper-pic #radio3 {
  background-color: rgb(var(--accent));
}
#rad3:checked ~ .radiowrapper-pic #radio4 {
  background-color: rgb(var(--accent));
}
#rad4:checked ~ .radiowrapper-pic #radio5 {
  background-color: rgb(var(--accent));
}
#rad5:checked ~ .radiowrapper-pic #radio6 {
  background-color: rgb(var(--accent));
}
#rad6:checked ~ .radiowrapper-pic #radio7 {
  background-color: rgb(var(--accent));
}
#rad7:checked ~ .radiowrapper-pic #radio8 {
  background-color: rgb(var(--accent));
}
#rad8:checked ~ .radiowrapper-pic #radio9 {
  background-color: rgb(var(--accent));
}

#rad0:checked ~ .img-slider .first {
  margin-left: 0%;
}
#rad1:checked ~ .img-slider .first {
  margin-left: -20%;
}
#rad2:checked ~ .img-slider .first {
  margin-left: -40%;
}
#rad3:checked ~ .img-slider .first {
  margin-left: -60%;
}
#rad4:checked ~ .img-slider .first {
  margin-left: -80%;
}
#rad5:checked ~ .img-slider .first {
  margin-left: -100%;
}
#rad6:checked ~ .img-slider .first {
  margin-left: -120%;
}
#rad7:checked ~ .img-slider .first {
  margin-left: -140%;
}
#rad8:checked ~ .img-slider .first {
  margin-left: -160%;
}

