@import url("Root.css");

h1{
    text-align: center;
    font-size: 36px;
    padding:10px
}
.Para{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight:300;
    padding-left:50px; 
    padding-right:50px;
}
main{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 10px;
    justify-content: center;
}

.box{
    height: 220px;
    width: 450px ;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 
    "📷 📛"
    "📷 🧑"
    "👑 👑";
    padding: 10px;
    border-radius: 5px;
    background: rgb(var(--primary)); 
    color: #000000;

}
.Face{
    grid-area: 📷;
    border-radius: 100%;
    width: 120px;
    margin: 10px;
    height: 120px;

}
.Name{
    grid-area: 📛;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
}
.Crest{
    border-radius: 100%;
    width: 85px;
    margin-left: auto;
    padding-right: 5px;
}
.Title{
    grid-area: 👑;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 500;
}
.Mail{
    margin-left: auto;
    padding-right: 5px;
}
.About{
    grid-area: 🧑;
    font-size: 15px;
    margin-top: 5px;
    color: rgb(var(--primary));
}

#Leader-wrap{
    padding-bottom: 6rem;
}
@media (max-width:770px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width:450px){
    body{
        overflow-x: visible;
    }
    .box{
        height: 250px;
        width: 400px ;
    }
}
