@import url("Root.css");
h1{
  text-align: center;
  margin-top:.5rem ;
}
#table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:  .5rem 2rem 1rem 2rem;
  font-size: 1.25rem;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 3.5rem;
  width: 70vw;
  gap: 4rem;
  margin: 0.25rem 0;
}
.row > :nth-child(3) {
  display: flex;
  margin-left: auto;
  gap: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row:nth-child(even) {
  background-color: rgb(var(--secondary-Dark));
}
.row:nth-child(odd) {
  background-color: rgb(var(--primary));
}
#row0 div .fa-trophy {
  color: rgb(var(--accent));
  transform: none;
  margin: 0;
}
#row1 div .fa-trophy {
  color: rgb(var(--white-text));
  transform: none;
  margin: 0;
}
#row2 div .fa-trophy {
  color: var(--bronze);
  transform: none;
  margin: 0;
}
.fa-clock{
  margin: 0;
  transform: none
}
.fa-user{
  color: rgb(var(--text-color));
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--bg));
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--primary));
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background-color: rgb(var(--bg));
}
@media(max-width:740px) {
  #table{
    font-size: .75rem;
  }
  .row{
    width: 100vw;
  }
  .row div{
    flex-shrink: 0;
  }
}