:root{
    --bg: 16,16,16;/*Black*/
    --primary:45, 45, 45;/*Gray*/
    --accent: 207, 181, 59;/*Gold*/
    --secondary:50,50,50;/*Lighter Gray*/
    --text-color:255,255,255;/*White*/  
    --pic-width:350px;
}