:root{
    --bg: 248, 239, 228;/*Cream*/
    --primary:157, 217, 243;/*Columbia Blue */
    --accent: 207, 181, 59;/*Gold*/
    --text-color:40, 33, 32;/*Jet Black*/
    --white-text:255,255,255;/*White*/
    --secondary:0, 70, 111;/*Regal Blue*/
    --secondary-Dark: 199, 205, 205; /*Ghost */
    --bronze:rgb(205, 127, 50);
    --pic-width:350px;
}

/*Rosewater - #E6C2BF
Columbia Blue - #9dd9f3
Cream - #F8EFE4
Old Gold - #CFB53B
Jet Black - #282120
Regal Blue - #00466f;
Ghost: #c7cdcd;
*/