---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/Betacon.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<MainLayout title="Betacon">
  <Navbar />
  <div class="container">
    <h1>Betacon</h1>
    <p>Betacon info paragraph</p>
    <div class="badge-container">
      <div class="badge">
        <img src="../Images/Betacon/Betacon Logo.png" alt="Badge" />
      </div>
      <div class="badge">
        <img src="../Images/Betacon/Betacon Logo.png" alt="Badge" />
      </div>
    </div>
    <div class="badge-container">
      <div class="badge">
        <img src="../Images/Betacon/Betacon Logo.png" alt="Badge" />
      </div>
      <div class="badge">
        <img src="../Images/Betacon/Betacon Logo.png" alt="Badge" />
      </div>
    </div>
  </div>
  <Footer />
</MainLayout>

  <!--image slider start-->
  <div class="slider">
    <div class="slides">
      <!--radio buttons start-->
      <input type="radio" name="radio-btn" id="radio0" />
      <input type="radio" name="radio-btn" id="radio1" />
      <input type="radio" name="radio-btn" id="radio2" />
      <input type="radio" name="radio-btn" id="radio3" />
      <!--radio buttons end-->
      <!--slide images start-->
      <div class="slide first">
        <img src="../Images/Betacon/Con1.png" alt="" />
      </div>
      <div class="slide">
        <img src="../Images/Betacon/Con2.png" alt="" />
      </div>
      <div class="slide">
        <img src="../Images/Betacon/Con3.png" alt="" />
      </div>
      <div class="slide">
        <img src="../Images/Betacon/con4.png" alt="" />
      </div>
      <!--slide images end-->
      <!--automatic navigation start-->
      <div class="navigation-auto">
        <div class="auto-btn0"></div>
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
      </div>
      <!--automatic navigation end-->
    </div>
    <!--manual navigation start-->
    <div class="navigation-manual">
      <label for="radio0" class="manual-btn"></label>
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
    </div>
    <!--manual navigation end-->
  </div>
  <!--image slider end-->
</MainLayout>
<script>
  const radio0 = document.getElementById("radio0") as HTMLInputElement;
  radio0.checked = true;
  setInterval(function () {
    for (let i = 0; i < 4; i++) {
      let radio = document.getElementById(
        "radio" + String(i)
      ) as HTMLInputElement;
      let radio_next = document.getElementById(
        "radio" + String((i + 1) % 4)
      ) as HTMLInputElement;
      if (radio.checked == true) {
        radio.checked = false;
        radio_next.checked = true;
        break;
      }
    }
  }, 5000);
</script>
