---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/FAQ.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<MainLayout title="FAQ">
  <Navbar />
  <div class="faq-container">
    <div class="faq-header">
      <h1 class="faq-title">FAQ</h1>
      <p class="faq-subtitle">
        <strong>Answers to some questions you might have.</strong>
      </p>
      <p class="faq-subtitle">
        E-mail your officer if you have any other questions.
      </p>
    </div>
    <div class="faq-list">
      <details class="faq-item">
        <summary class="faq-question">How do we submit our hours?</summary>
        <div class="faq-answer">
          <p>
            There is an<a style="color: #CFB53B; text-decoration: underline;"
              href="https://forms.gle/hME1PGa3JxmJF4RP6"
            >
            hour submission form
            </a> that is available in the hour submission tab on the top right.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question"
          >How do I see how many approved hours I have so far?</summary
        >
        <div class="faq-answer">
          <p>
            That can be done through the search button present on the <a
              href="../Check"
            >
              hour check page
            </a>.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          When will hours be up to date on the website?
        </summary>
        <div class="faq-answer">
          <p>
            The website is up to date, but if you see a discrepancy email your
            officer within 2 weeks of noticing the error. Officers will verify
            your hours every 2 weeks or so.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          Is it required to attend all the meetings?
        </summary>
        <div class="faq-answer">
          <p>
            Yes, it is required to attend all the meetings per semester. It will
            also make a difference when you inevitably ask for an extension at
            the end of the semester.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          Do you need to resubmit your hours if you put in the wrong
          information?
        </summary>
        <div class="faq-answer">
          <p>Yes.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          Who should be the only one to contact the officers?
        </summary>
        <div class="faq-answer">
          <p>YOU!!!</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          What if I did not get a picture for the event?
        </summary>
        <div class="faq-answer">
          <p>
            Every event you volunteer at should have a picture. You will only be
            allowed one volunteering event without an image. For tutoring events
            only verified opportunities will be verified. Online tutoring must
            contain the associations icon and any children you are tutoring must
            be blurred out.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question"> When will the form be closed? </summary>
        <div class="faq-answer">
          <p>
            The form will be closed the day after an hour deadline, such as the
            mid-semester (October 15th) and end of semester deadline (Decmeber
            5th). Besides these dates an announcement will be made that the form
            is closing. Make sure you submit your hours frequently and not right
            before the deadline in order to make sure your hours are in and
            verified.
          </p>
        </div>
      </details>
    </div>
  </div>
</MainLayout>
