---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/FAQ.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<MainLayout title="FAQ">
  <Navbar />
  <div class="faq-container">
    <div class="faq-header">
      <h1 class="faq-title">FAQ</h1>
      <p class="faq-subtitle">Answers to some questions you might have.</p>
    </div>
    <div class="faq-list">
      <details class="faq-item">
        <summary class="faq-question">How do we submit our hours?</summary>
        <div class="faq-answer">
          <p>There is an hour submission form that is available in the hour submission tab on the top right.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">Is there a way for checking the progress made on our hours?</summary>
        <div class="faq-answer">
          <p>Yes, that can be done through the search button present in the hours submission tab.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">Are there website sync dates?</summary>
        <div class="faq-answer">
          <p>There are no more website sync dates as the system automatically updates, however the submission forms will be closed for verification days.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">Is it required to attend all the meetings?</summary>
        <div class="faq-answer">
          <p>Yes, it is required to attend all the meetings per semester.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">Do you need to resubmit your hours if you put in the wrong information?</summary>
        <div class="faq-answer">
          <p>Yes.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">Who should be the only one to contact the officers?</summary>
        <div class="faq-answer">
          <p>YOU!!!</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">What if I did not get a picture for the event?</summary>
        <div class="faq-answer">
          <p>If you volunteer at a recurring event, you can submit a picture of a sign up sheet for the first time you volunteer for that event. The rest of the submissions from that opportunity MUST have picture proof with you in it.</p>
        </div>
      </details>
    </div>
  </div>
</MainLayout>
