---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/Index.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Home">
  <Navbar />
  <h1 class="header">Chattahoochee High School Beta Club</h1>
  <main>
    <div class="Events">
      <p style="font-size: 18px;">Upcoming Events</p>
      <iframe
        loading="lazy"
        class="index"
        src="https://script.google.com/macros/s/AKfycbzYUK_lkcAmxEU1KcFfH7Mh9mhRmyR9TYHAGjIeRvJ32hCnXzUvdPOHESEqpUysX7S-/exec"
      ></iframe>
    </div>
    <div class="Hooch">
      <p class="Hooch_Title">What is BETA at Hooch</p>
      <p>
        Beta at Chattahoochee High School is more than a mere club of volunteers
        - it's a community; a family of individuals dedicated to consistently
        provide their community in unique ways. From helping at veterans'
        associations to making chew toys for pet adoption centers, members of
        hooch beta have always found ways to give back to their community.
        Members are held to a high standard and are expected to maintain a
        culture of academic excellence as well as exemplifying the four pillars
        of Beta: achievement, character, leadership, and service.
      </p>
    </div>
    <div class="Motto">Let Us Lead By Serving Others</div>
    <div class="Pictures">
      <!--Image slider start-->
      <div class="slider">
        <div class="slides">
          <!--Radio Buttons start-->
          <input type="radio" name="radio-btn" id="radio0" />
          <input type="radio" name="radio-btn" id="radio1" />
          <input type="radio" name="radio-btn" id="radio2" />
          <input type="radio" name="radio-btn" id="radio3" />
          <input type="radio" name="radio-btn" id="radio4" />
          <input type="radio" name="radio-btn" id="radio5" />
          <input type="radio" name="radio-btn" id="radio6" />
          <!--Radio Buttons end-->
          <!-- Slide Images start -->
          <div class="slide first">
            <img src="Images/Index/Beta19.png" alt="" />
          </div>
          <div class="slide">
            <img src="Images/Index/Beta18.png" alt="" />
          </div>
          <div class="slide">
            <img src="Images/Index/Beta13.png" alt="" />
          </div>
          <div class="slide">
            <img src="Images/Index/Beta12.png" alt="" />
          </div>
          <div class="slide">
            <img src="Images/Index/Beta15.png" alt="" />
          </div>
          <div class="slide">
            <img src="Images/Index/Beta16.png" alt="" />
          </div>
          <div class="slide">
            <img src="Images/Index/Beta17.png" alt="" />
          </div>
          <!-- SLide Images end -->
          <!-- Automatic navigation start -->
          <div class="navigation-auto">
            <div class="auto-btn0"></div>
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>
            <div class="auto-btn6"></div>
          </div>
          <!-- Automatic navigation end -->
        </div>
        <!-- Manual Navigation start -->
        <div class="navigation-manual">
          <label for="radio0" class="manual-btn"></label>
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
          <label for="radio5" class="manual-btn"></label>
          <label for="radio6" class="manual-btn"></label>
        </div>
        <!-- Manual Navigation end -->
      </div>
      <!--Image slider end-->
    </div>
    <div class="Meeting">
      <p style="font-size: 18px; margin-bottom: 10px;">Meeting Dates</p>
      <div class="Meeting-Grid">
        <p class="Header">Fall Dates</p>
        <p class="Header">Spring Dates</p>
        <p class="dates">Thursday August 31st</p>
        <p class="dates">Thursday January 18th</p>
        <p class="dates">Thursday September 21st-New Members ONLY</p>
        <p class="dates">Thursday February 29th-Induction Ceremony</p>
        <p class="dates">Thursday October 26th</p>
        <p class="dates">Thursday March 28th</p>
        <p class="dates">Thursday November 16th</p>
        <p class="dates">Thursday April 11th</p>
        <p class="dates">Thursday December 7th</p>
        <p class="dates">Thursday May 13th</p>
      </div>
    </div>
  </main>
</MainLayout>
<script>
  const radio0 = document.getElementById("radio0") as HTMLInputElement;
  radio0.checked = true;
  setInterval(function () {
    for (let i = 0; i < 7; i++) {
      let radio = document.getElementById(
        "radio" + String(i)
      ) as HTMLInputElement;
      let radio_next = document.getElementById(
        "radio" + String((i + 1) % 7)
      ) as HTMLInputElement;
      if (radio.checked == true) {
        radio.checked = false;
        radio_next.checked = true;
        break;
      }
    }
  }, 10000);
</script>
