---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/Index.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/cinzel-decorative/400.css";
---

<MainLayout title="Home">
  <Navbar />
  <main>
    <div class="top">
      <div class="title">
        <div class="titlecard" id="TitleCard">
          <p id="Header">HOOCH BETA</p>
        </div>
        <p class="Motto">Let Us Lead By Serving Others</p>
      </div>
      <div class="calendar">
        <input type="radio" name="radio-Cal" id="Fall-radio" />
        <input type="radio" name="radio-Cal" id="Spring-radio" />
        <input type="radio" name="radio-Cal" id="Opportunity-radio" />
        <div class="options">
          <div class="radio-wrapper">
            <label for="Fall-radio" class="radio" id="Fall-label"></label>
          </div>
          <div class="radio-wrapper">
            <label for="Spring-radio" class="radio" id="Spring-label"></label>
          </div>
          <div class="radio-wrapper">
            <label for="Opportunity-radio" class="radio" id="Opportunity-label"
            ></label>
          </div>
        </div>
        <div class="slider">
          <div id="Fall" class="card">
            <h4>Meeting Dates</h4>
            <p class="months">August 22</p>
            <p class="months">September 26</p>
            <p class="months">October 24</p>
            <p class="months">November 14</p>
            <p class="months">December 5</p>
          </div>
          <div id="Spring" class="card">
            <h4>Meeting Dates</h4>
            <p class="months">January 30</p>
            <p class="months">February 27 - Induction</p>
            <p class="months">March 13</p>
            <p class="months">April 17</p>
            <p class="months">May 12</p>
          </div>
          <div id="Opportunity" class="card">
            <h4>Opportunities</h4>
            <p class="opportunities"><a href="https://www.signupgenius.com/go/10C0848AFAC2CA0F5C25-52484934-hooch#/">Basketball Concessions</a></p>
            <p class="opportunities"><a href="https://www.signupgenius.com/go/10C094DA8AB2FA5FEC25-52312500-plaid#/">Fleece Donations</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="pics">
        <input type="radio" name="radio-Pic" id="rad0" />
        <input type="radio" name="radio-Pic" id="rad1" />
        <input type="radio" name="radio-Pic" id="rad2" />
        <input type="radio" name="radio-Pic" id="rad3" />
        <input type="radio" name="radio-Pic" id="rad4" />
        <input type="radio" name="radio-Pic" id="rad5" />
        <input type="radio" name="radio-Pic" id="rad6" />
        <input type="radio" name="radio-Pic" id="rad7" />
        <input type="radio" name="radio-Pic" id="rad8" />

        <div class="img-slider">
          <div class="slide-wrapper">
            <img
              src="../Images/Index/Beta1.png"
              alt=""
              class="img-slide first"
            />
            <img src="../Images/Index/Beta2.png" alt="" class="img-slide" />
            <img src="../Images/Index/Beta3.png" alt="" class="img-slide" />
            <img src="../Images/Index/Beta4.png" alt="" class="img-slide" />
            <img src="../Images/Index/Beta5.png" alt="" class="img-slide" />
            <img src="../Images/Index/Beta6.png" alt="" class="img-slide" />
            <img src="../Images/Index/Beta7.png" alt="" class="img-slide" />
            <img src="../Images/Index/Beta8.png" alt="" class="img-slide" />
            <img src="../Images/Index/Beta9.png" alt="" class="img-slide" />
          </div>
        </div>

        <div class="radiowrapper-pic">
          <label for="rad0" id="radio1" class="radiopic"></label>
          <label for="rad1" id="radio2" class="radiopic"></label>
          <label for="rad2" id="radio3" class="radiopic"></label>
          <label for="rad3" id="radio4" class="radiopic"></label>
          <label for="rad4" id="radio5" class="radiopic"></label>
          <label for="rad5" id="radio6" class="radiopic"></label>
          <label for="rad6" id="radio7" class="radiopic"></label>
          <label for="rad7" id="radio8" class="radiopic"></label>
          <label for="rad8" id="radio9" class="radiopic"></label>
        </div>
      </div>
      <div class="whatis">
        <h3>What is Beta at Hooch?</h3>
        <p>
          Beta at Chattahoochee High School is more than a measly club of
          volunteers - it's a community: a united family of individuals
          dedicated to consistently serving their community in unique ways. From
          helping at veterans' associations to making chew toys for pet adoption
          centers, members of Hooch Beta have always found ways to give back to
          their community. Members are held to a high standard and are expected
          to maintain a culture of academic excellence and exemplify the four
          pillars of Beta: achievement, character, leadership, and service.
        </p>
      </div>
    </div>
  </main>
</MainLayout>

<script>
  const CalArray = [
    document.getElementById("Fall-radio") as HTMLInputElement,
    document.getElementById("Spring-radio") as HTMLInputElement,
    document.getElementById("Opportunity-radio") as HTMLInputElement,
  ];
  let RandNum = Math.floor(Math.random() * 2);
  let RandPic = Math.floor(Math.random() * 9);
  let RandRadPic = document.getElementById(`rad${RandPic}`) as HTMLInputElement;
  RandRadPic.checked = true;
  if (RandNum == 0) {
    CalArray[1].checked = true;
  } else {
    CalArray[2].checked = true;
  }

  setInterval(() => {
    for (let i = 0; i < 3; i++) {
      if (CalArray[i].checked == true) {
        CalArray[i].checked = false;
        CalArray[(i + 1) % 3].checked = true;
        break;
      }
    }
    for (let j = 0; j < 9; j++) {
      let radioCurrent = document.getElementById(`rad${j}`) as HTMLInputElement;
      let radioNext = document.getElementById(
        `rad${(j + 1) % 9}`
      ) as HTMLInputElement;
      if (radioCurrent.checked == true) {
        radioCurrent.checked = false;
        radioNext.checked = true;
        break;
      }
    }
  }, 10000);

  const TitleCard = document.getElementById("TitleCard");
  const Header = document.getElementById("Header");

  TitleCard.addEventListener("mouseenter", (event) => {
    const WordArr = ["Achievement", "Character", "Leadership", "Service"];
    let RandWord = Math.floor(Math.random() * 4);
    Header.innerHTML = WordArr[RandWord];
  });

  TitleCard.addEventListener("mouseleave", (event) => {
    Header.innerHTML = "HOOCH BETA";
  });
</script>
