---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import LeaderCard from "../components/LeaderCard.astro";
import "../styles/Leadership.css";
---

<MainLayout title="Leadership">
  <Navbar />
  <h1>LEADERSHIP</h1>
  <p class="Para">
    Beta Club is a nationwide service organization that seeks to lead in the
    community by giving back through service projects. National Beta Club is the
    largest independent, non-profit, educational youth organization in America.
    And for more than 80 years, it has prepared today's students to be
    tomorrow's leaders. There are now more than 500,000 active members and more
    than 8,750 clubs nationally and internationally.
  </p>
  <main>
    <div class="box Rachel">
      <img class="Face" src="../Images/Leaders/Rachel Alexander.png" />
      <p class="Name">
        Rachel Alexander
        <img class="Crest" src="../Images/Crests/Rachel crest.png" alt="" />
      </p>
      <p class="Title">
        President
        <a href="mailto:alexmrachel@gmail.com" class="Mail">
          <i class="fa-solid fa-envelope Mail Rachel"></i>
        </a>
      </p>
      <p class="About">
        Hi! My name is Rachel and I am a senior at the Hooch. I enjoy being with
        friends and family and hiking.
      </p>
    </div>

    <div class="box Devon">
      <img class="Face" src="../Images/Leaders/Devon yau.png" />
      <p class="Name">
        Devon Yau
        <img class="Crest" src="../Images/Crests/Devon_crest.png" alt="" />
      </p>
      <p class="Title">
        Service Events Vice President
        <a href="mailto:devonyau06@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Devon"></i>
        </a>
      </p>
      <p class="About">
        I am a very neat and orderly person who enjoys structure. I am not quite
        introverted, but I enjoy solitude at times and love listening to music.
      </p>
    </div>

    <div class="box Natalie">
      <img class="Face" src="../Images/Leaders/Natalie Jiang.jpeg" />
      <p class="Name">
        Natalie Jiang
        <img class="Crest" src="../Images/Crests/Natalie_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Member Relations Vice President
        <a href="mailto:natalieljiang@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Natalie"></i>
        </a>
      </p>
      <p class="About">
        Hi! My name is Natalie Jiang and I'm a senior this year. Outside of
        Beta, I play the clarinet and enjoy baking.
      </p>
    </div>

    <div class="box Osinachi">
      <img class="Face" src="../Images/Leaders/Osinachi.jpg" />
      <p class="Name">
        Osinachi Ozumba
        <img class="Crest" src="../Images/Crests/Osinachi_Crest.png" alt="" />
      </p>
      <p class="Title">
        Secretary
        <a href="mailto:osachi752@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Osinachi"></i>
        </a>
      </p>
      <p class="About">
        I am a driven student who enjoys working and interacting with others. My
        favorite pastimes are watching K-dramas, singing, and dancing.
      </p>
    </div>

    <div class="box Ravnoor">
      <img class="Face" src="../Images/Leaders/Ravnoor.jpeg" />
      <p class="Name">
        Ravnoor Gujral
        <img class="Crest" src="../Images/Crests/Ravnoor_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Community Outreach Officer
        <a href="mailto:ravnoorgujral@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Ravnoor"></i>
        </a>
      </p>
      <p class="About">
        Hi! I am a senior and this is my first year as an officer. In my free
        time, I love to take pictures and swim.
      </p>
    </div>
    <div class="box Emily">
      <img class="Face" src="../Images/Leaders/Emily Ko.jpeg" />
      <p class="Name">
        Emily Ko
        <img class="Crest" src="../Images/Crests/Emily_Crest.png" alt="" />
      </p>
      <p class="Title">
        Co-Outreach Representative
        <a href="mailto:emilyko360@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Emily"></i>
        </a>
      </p>
      <p class="About">
        Hi, I'm Emily! I'm a senior, and this is my fourth year involved in Beta
        and first year as an officer. I love reading, book thrifting, and
        watching 2000s movies.
      </p>
    </div>

    <div class="box Vikhyat">
      <img class="Face" src="../Images/Leaders/Vikhyat.jpg" />
      <p class="Name">
        Vikhyat Arun
        <img class="Crest" src="../Images/Crests/Vikhyat_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Upperclassmen Representative
        <a href="mailto:vikhyat.arun@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Vikhyat"></i>
        </a>
      </p>
      <p class="About">
        Hi, my name is Vikhyat, and I'm your upperclassmen representative! I am
        also the captain for our school's fencing team, and I fence regionally.
      </p>
    </div>
    <div class="box ArianaS">
      <img class="Face" src="../Images/Leaders/Ariana Siganporia.png" />
      <p class="Name">
        Ariana Siganporia
        <img class="Crest" src="../Images/Crests/Ariana_crest.png" alt="" />
      </p>
      <p class="Title">
        Upperclassmen Advisor
        <a
          href="mailto:ariana.siganporia@outlook.com"
          class="Mail"
          target="_blank"
        >
          <i class="fa-solid fa-envelope ArianaS"></i>
        </a>
      </p>

      <p class="About">
        Hi, my name is Ariana. I enjoy reading and community service, and I want
        to major in computer science.
      </p>
    </div>

    <div class="box Yanna">
      <img class="Face" src="../Images/Leaders/Yanna Baramov.jpeg" />
      <p class="Name">
        Yanna Baramov
        <img class="Crest" src="../Images/Crests/Yanna_crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Upperclassmen Advisor
        <a href="mailto:yanna.baramov@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Yanna"></i>
        </a>
      </p>
      <p class="About">
        Some of my hobbies include fencing, scioly, and art. My favorite
        volunteering activity is painting for hospitals.
      </p>
    </div>

    <div class="box Shihyun">
      <img class="Face" src="../Images/Leaders/Shihyun.jpeg" />
      <p class="Name">
        Shihyun Kim
        <img class="Crest" src="../Images/Crests/Shihyun_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Upperclassmen Representative
        <a href="mailto:kimtlgus1@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Shihyun"></i>
        </a>
      </p>
      <p class="About">
        Hi everyone! My name is Shihyun but you can call me Kim. I'm junior and
        I'll be your upperclassmen representative. I am looking forward to
        meeting you all!
      </p>
    </div>
    <div class="box Rabiya">
      <img class="Face" src="../Images/Leaders/Rabiya Khan.png" />
      <p class="Name">
        Rabiya Khan
        <img class="Crest" src="../Images/Crests/Rabiya_crest.png" alt="" />
      </p>
      <p class="Title">
        Underclassmen Advisor
        <a href="mailto:khanrabiya22@yahoo.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Rabiya"></i>
        </a>
      </p>
      <p class="About">
        I am a Junior, aspiring to become an aerospace engineer. I love reading
        books and hanging out with my identical twin sister and our friends.
      </p>
    </div>

    <div class="box Stuti">
      <img class="Face" src="../Images/Leaders/Stuti.jpg" />
      <p class="Name">
        Stuti Mohan
        <img class="Crest" src="../Images/Crests/Stuti_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Underclassmen Advisor
        <a href="mailto:stutim304@gmail.com " class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Stuti"></i>
        </a>
      </p>
      <p class="About">
        Hi! My name is Stuti and I am a sophmore. I have been dancing for 12
        years and participate in debate. I would like to major in business with
        a law focus.
      </p>
    </div>

    <div class="box Adarsh">
      <img class="Face" src="../Images/Leaders/Adarsh.jpg" />
      <p class="Name">
        Adarsh Hemrajani
        <img class="Crest" src="../Images/Crests/Adarsh_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Underclassman Advisor
        <a
          href="mailto:adarsh_hemrajani@outlook.com"
          class="Mail"
          target="_blank"
        >
          <i class="fa-solid fa-envelope Adarsh"></i>
        </a>
      </p>
      <p class="About">
        I am a Sophomore at Hooch. I enjoy playing tennis and traveling around
        the world.
      </p>
    </div>

    <div class="box Aditya">
      <img class="Face" src="../Images/Leaders/Aditya.jpg" />
      <p class="Name">
        Aditya Swami
        <img class="Crest" src="../Images/Crests/Aditya_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Webmaster
        <a href="mailto:swamiaditya1@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Aditya"></i>
        </a>
      </p>
      <p class="About">
        I am a Senior, who likes to play basketball and hang out with friends.
      </p>
    </div>

    <LeaderCard Name = "Aneesh Anil", Title = "Webmaster", About = "I am a Senior at Hooch. My dream is to become an automobile engineer. In my free time I play video games with my friends and 3D model.", Image = "Aneesh" , Mail = "aneesh.anil@yahoo.com" />
  </main>
</MainLayout>
