---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import LeaderCard from "../components/LeaderCard.astro";
import "../styles/Leadership.css";
---

<MainLayout title="Leadership">
  <Navbar />
  <h1>LEADERSHIP</h1>
  <p class="Para">
    Beta Club is a nationwide service organization that seeks to lead in the
    community by giving back through service projects. National Beta Club is the
    largest independent, non-profit, educational youth organization in America.
    And for more than 80 years, it has prepared today's students to be
    tomorrow's leaders. There are now more than 500,000 active members and more
    than 8,750 clubs nationally and internationally.
  </p>
  <main>
    <LeaderCard
      Name="Ariana Siganporia"
      Title="President"
      About="I am a senior and your president. In the future, I plan on studying Computer Science, but for now I love being engaged in clubs and immersing myself into a new book."
      Image=""
      Mail="ariana.siganporia@outlook.com"
    />

    <LeaderCard
      Name="Yanna Baramov"
      Title="VP"
      About="Some of my hobbies include fencing, scioly, and art. My favorite volunteering activity is painting for hospitals."
      Image=""
      Mail="yanna.baramov@gmail.com"
    />

    <LeaderCard
      Name="Rabiya Khan"
      Title="Upperclassmen Advisor"
      About="I am a senior, aspiring to become an aerospace engineer. I love reading books and hanging out with my identical twin sister and our friends."
      Image=""
      Mail="khanrabiya22@yahoo.com"
    />
    <LeaderCard
      Name="Stuti Mohan"
      Title="VP"
      About="I am a junior. I have been dancing for 12 years and participate in debate. I would like to major in business with a law focus."
      Image=""
      Mail="stutim304@gmail.com"
    />

    <LeaderCard
      Name="Adarsh Hemrajani"
      Title="Upperclassmen Advisor"
      About="I am a junior at Hooch. I enjoy playing tennis and traveling around the world."
      Image=""
      Mail="adarsh_hemrajani@outlook.com"
    />

    <LeaderCard
      Name="Aneesh Anil"
      Title="Webmaster"
      About="I am a senior at Hooch. My dream is to become an automobile engineer. In my free time I play video games with my friends and 3D model."
      Image=""
      Mail="aneesh.anil@yahoo.com"
    />
    <LeaderCard
      Name="Kashish Pankaj"
      Title="Underclassmen Representative"
      About="I love to listen to music! My favorite band is One Direction :) I've been dancing for 12 years now! I find Computer Science interesting so I'll be pursuing that in the future."
      Image=""
      Mail="pankajkashish08@gmail.com"
    />

    <LeaderCard
      Name="Shaurya Attal"
      Title="Webmaster"
      About="I am a junior. I have been singing for 11 years. I love doing puzzles, watching movies, and listening to music. Computer Science fascinates me and plan on pursuing it in college."
      Image=""
      Mail="shaurya.attal@gmail.com"
    />
    <LeaderCard
      Name="Kobe Chernushin"
      Title="Outreach Representative"
      About="I'm a junior whose hobbies include baking and listening to music! When I'm older I'd like to enter the political science/law field. "
      Image=""
      Mail="chernushinkobe@gmail.com"
    />
    <LeaderCard
      Name="Baiza Bayyan"
      Title="Outreach Representative"
      About="I am a junior at Hooch. I'm an aspiring anesthesiologist and my hobbies include playing violin, singing, and running."
      Image=""
      Mail="baizab33@gmail.com"
    />
    <LeaderCard
      Name="Katie Yau"
      Title="Freshman Members Representative"
      About="Hi! I enjoy listening to music, working out, and reading in my free time. I like spending time alone, but I also like the company of friends."
      Image=""
      Mail="katie.yau09@gmail.com"
    />
  </main>
</MainLayout>
