---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import LeaderCard from "../components/LeaderCard.astro";
import "../styles/Leadership.css";
---

<MainLayout title="Leadership">
  <Navbar />
  <h1>LEADERSHIP</h1>
  <p class="Para">
    Beta Club is a nationwide service organization that seeks to lead in the
    community by giving back through service projects. National Beta Club is the
    largest independent, non-profit, educational youth organization in America.
    And for more than 80 years, it has prepared today's students to be
    tomorrow's leaders. There are now more than 500,000 active members and more
    than 8,750 clubs nationally and internationally.
  </p>
  <main>
    <LeaderCard
      Name="Kobe Chernushin"
      Title="President"
      About="I am this year’s Beta President and am in 12th grade! I love doing civic engagement work and journalism, but outside of that I enjoy listening to RNB music and watching reality TV. My favorite show of all time is Survivor and I love to cook/bake! "
      Image="Kobe.png"
      Mail="chernushinkobe@gmail.com"
    />
    <LeaderCard
      Name="Shaurya Attal"
      Title="Senior Webmaster"
      About="Coming Soon..."
      Image="Shaurya.png"
      Mail="shaurya.attal@gmail.com"
    />
    <LeaderCard
      Name="Stuti Mohan"
      Title="Member Engagement Chair"
      About="I am a junior. I have been dancing for 12 years and participate in debate. I would like to major in business with a law focus."
      Image="Stuti.png"
      Mail="stutim304@gmail.com"
    />
    <LeaderCard
      Name="Lily Moelich"
      Title="Service Event Representative"
      About="Hi, I am a junior. Some of my hobbies include downhill skiing, traveling, and playing the cello. I love listening to music (some of my favorite bands include the Goo Goo Dolls and the Beatles)."
      Image="Lily.png"
      Mail="lmo368554@gmail.com"
    />
    <LeaderCard
      Name="Baiza Bayyan"
      Title="Community Outreach Chair"
      About="I’m a senior and my hobbies include singing, playing violin, and hanging out with my friends. I’m passionate about medicine and I plan to pursue a career in anesthesiology in the future!"
      Image="Baiza.png"
      Mail="baizab33@gmail.com"
    />
    <LeaderCard
      Name="Prinsha Chanda"
      Title="Secretary"
      About="Hi, I’m a junior! In my free time, I love listening to music and reading. I also have four cats who I enjoy spending lots of time with!"
      Image="Prinsha.png"
      Mail="prinshachanda@gmail.com"
    />
    <LeaderCard
      Name="Katie Yau"
      Title="Beta Convention Chair"
      About="I am a junior who enjoys going to cafes with friends, listening to music, and playing games.  I also like attending concerts and playing the viola!"
      Image="Katie.png"
      Mail="katie.yau09@gmail.com"
    />
    <!--
    <LeaderCard
      Name="Adarsh Hemrajani"
      Title="Senior Representative"
      About="I am a junior, and I like to travel, play tennis and basketball, and eat."
      Image="Adarsh.png"
      Mail="adarsh_hemrajani@outlook.com"
    />
    <LeaderCard
      Name="Kashish Pankaj"
      Title="Junior Representative"
      About="I love to listen to music! My favorite band is One Direction :) I've been dancing for 12 years now! I find Computer Science interesting so I'll be pursuing that in the future."
      Image="Kashish.png"
      Mail="pankajkashish08@gmail.com"
    />
    <LeaderCard
      Name="Ishita Tyagi"
      Title="Service Events Coordinator"
      About="Hi, I'm a junior and I love to crochet, paint, and go hiking/camping. I also like to bake things like cakes and cinnamon rolls!"
      Image="Ishita.png"
      Mail="ishitatyagi56@gmail.com"
    />
    <LeaderCard
      Name="Tarnija Sarkar"
      Title="Service Events Representative"
      About="I am a junior at Hooch. I like reading books, dancing, and listening to music in my free time. I aspire to be a finance consultant."
      Image="Tarnija.png"
      Mail="tarnijasarkar@icloud.com"
    />
    <LeaderCard
      Name="Arnav Jasapara"
      Title="Sophomore Representative"
      About="Hello, I'm Arnav, a sophomore. In my free-time, I like to play tennis and video games."
      Image="Arnav.png"
      Mail="arnavjasapara@gmail.com"
    /> -->
  </main>
</MainLayout>
