---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import LeaderCard from "../components/LeaderCard.astro";
import "../styles/Leadership.css";
---

<MainLayout title="Leadership">
  <Navbar />
  <h1>LEADERSHIP</h1>
  <p class="Para">
    Beta Club is a nationwide service organization that seeks to lead in the
    community by giving back through service projects. National Beta Club is the
    largest independent, non-profit, educational youth organization in America.
    And for more than 80 years, it has prepared today's students to be
    tomorrow's leaders. There are now more than 500,000 active members and more
    than 8,750 clubs nationally and internationally.
  </p>
  <main>
    <div class="box ArianaS">
      <img class="Face" src="../Images/Leaders/Ariana Siganporia.png" />
      <p class="Name">
        Ariana Siganporia
        <img class="Crest" src="../Images/Crests/Ariana_crest.png" alt="" />
      </p>
      <p class="Title">
        Upperclassmen Advisor
        <a
          href="mailto:ariana.siganporia@outlook.com"
          class="Mail"
          target="_blank"
        >
          <i class="fa-solid fa-envelope ArianaS"></i>
        </a>
      </p>

      <p class="About">
        Hi, my name is Ariana. I enjoy reading and community service, and I want
        to major in computer science.
      </p>
    </div>

    <div class="box Yanna">
      <img class="Face" src="../Images/Leaders/Yanna Baramov.jpeg" />
      <p class="Name">
        Yanna Baramov
        <img class="Crest" src="../Images/Crests/Yanna_crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Upperclassmen Advisor
        <a href="mailto:yanna.baramov@gmail.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Yanna"></i>
        </a>
      </p>
      <p class="About">
        Some of my hobbies include fencing, scioly, and art. My favorite
        volunteering activity is painting for hospitals.
      </p>
    </div>

    <div class="box Rabiya">
      <img class="Face" src="../Images/Leaders/Rabiya Khan.png" />
      <p class="Name">
        Rabiya Khan
        <img class="Crest" src="../Images/Crests/Rabiya_crest.png" alt="" />
      </p>
      <p class="Title">
        Underclassmen Advisor
        <a href="mailto:khanrabiya22@yahoo.com" class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Rabiya"></i>
        </a>
      </p>
      <p class="About">
        I am a Junior, aspiring to become an aerospace engineer. I love reading
        books and hanging out with my identical twin sister and our friends.
      </p>
    </div>

    <div class="box Stuti">
      <img class="Face" src="../Images/Leaders/Stuti.jpg" />
      <p class="Name">
        Stuti Mohan
        <img class="Crest" src="../Images/Crests/Stuti_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Underclassmen Advisor
        <a href="mailto:stutim304@gmail.com " class="Mail" target="_blank">
          <i class="fa-solid fa-envelope Stuti"></i>
        </a>
      </p>
      <p class="About">
        Hi! My name is Stuti and I am a sophmore. I have been dancing for 12
        years and participate in debate. I would like to major in business with
        a law focus.
      </p>
    </div>

    <div class="box Adarsh">
      <img class="Face" src="../Images/Leaders/Adarsh.jpg" />
      <p class="Name">
        Adarsh Hemrajani
        <img class="Crest" src="../Images/Crests/Adarsh_Crest.jpeg" alt="" />
      </p>
      <p class="Title">
        Underclassman Advisor
        <a
          href="mailto:adarsh_hemrajani@outlook.com"
          class="Mail"
          target="_blank"
        >
          <i class="fa-solid fa-envelope Adarsh"></i>
        </a>
      </p>
      <p class="About">
        I am a Sophomore at Hooch. I enjoy playing tennis and traveling around
        the world.
      </p>
    </div>


    <LeaderCard Name = "Aneesh Anil", Title = "Webmaster", 
    About = "I am a Senior at Hooch. My dream is to become an automobile engineer. In my free time I play video games with my friends and 3D model.", 
    Image = "Aneesh.jpg" , Mail = "aneesh.anil@yahoo.com" />
  </main>
</MainLayout>
