---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/Newsletter.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<MainLayout title="NewsLetter">
  <Navbar />
  <main>
    <div class="Letter">
      <img src="../Images/Newsletter/August.png" alt="" />
      <div class="box">
        <a href="../Images/Newsletter/August.pdf">August Newsletter</a>
      </div>
    </div>
    <div class="Letter">
      <img src="../Images/Newsletter/September.png" alt="" />
      <div class="box">
        <a href="../Images/Newsletter/September.pdf">September Newsletter</a>
      </div>
    </div>
    <div class="Letter">
      <img src="../Images/Newsletter/October.png" alt="" />
      <div class="box">
        <a href="../Images/Newsletter/October.pdf">October NewsLetter</a>
      </div>
    </div>

    <div class="Letter">
      <img src="../Images/Newsletter/November.png" alt="" />
      <div class="box">
        <a href="../Images/Newsletter/November.pdf">November Newsletter</a>
      </div>
    </div>

    <div class="Letter">
      <img src="../Images/Newsletter/December.png" alt="" />
      <div class="box">
        <a href="">December Newsletter (Coming Soon)</a>
      </div>
    </div>

    <div class="Letter">
      <img src="../Images/Newsletter/January.png" alt="" />
      <div class="box">
        <a href="">January Newsletter (Coming Soon)</a>
      </div>
    </div>

    <div class="Letter">
      <img src="../Images/Newsletter/February.png" alt="" />
      <div class="box">
        <a href="">February Newsletter (Coming Soon)</a>
      </div>
    </div>

    <div class="Letter">
      <img src="../Images/Newsletter/March.png" alt="" />
      <div class="box">
        <a href="">March Newsletter (Coming Soon)</a>
      </div>
    </div>

    <div class="Letter">
      <img src="../Images/Newsletter/April.png" alt="" />
      <div class="box">
        <a href="">April Newsletter (Coming Soon)</a>
      </div>
    </div>

    <div class="Letter">
      <img src="../Images/Newsletter/May.png" alt="" />
      <div class="box">
        <a href="">May Newsletter (Coming Soon)</a>
      </div>
    </div>
  </main>
</MainLayout>
