---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import OpportunityCard from "../components/OpportunityCard.astro";
import "../styles/OpportunityPage.css"
---

<MainLayout title="Opportunities">
  <Navbar />
  <main>
    <OpportunityCard
    Title="Hooch Basketball Concessions"
    Hours="2 Hours"
    Expired="Expired"
    Location="Chattahoochee HS"
    SponsorName="Johanna Pringle"
    SponsorContact="954-993-3599"
    Link="https://www.signupgenius.com/go/10C0848AFAC2CA0F5C25-52484934-hooch#/"
    Image="https://www.signupgenius.com/images/theme/786E0370CBD3AE74324828E85A6FD648_0.jpg"
    />
    <OpportunityCard
    Title="Plaid Fleece Donation"
    Hours="1 Hour"
    Expired="Expired"
    Location="Chattahoochee HS"
    SponsorName="Ms. Lee"
    SponsorContact="leelc@fultonschools.org"
    Link="https://www.signupgenius.com/go/10C094DA8AB2FA5FEC25-52312500-plaid#/"
    Image="https://s3.amazonaws.com/images.signupgenius.com/memberImages/1DE2E2DC40A3ABDDD3F3A59AE9F9B788_140444735.jpg"
    />
    <OpportunityCard
    Title="Findley Oaks Fine Arts Night"
    Hours="1.5 Hours"
    Expired="Expired"
    Location="Findly Oaks ES"
    SponsorName="Pam Cessna"
    SponsorContact="cessnap@fultonschools.org"
    Link="https://forms.office.com/r/6SX1NYapCM"
    Image="https://www.signupgenius.com/images/theme/D8FFA45A6CBBE9A9D7A90BF3B2DFCA02_0.png"
    />
    <OpportunityCard
    Title="Abbotts Hill ES Bingo Night"
    Hours="2 Hours"
    Expired="Expired"
    Location="Abbotts Hill ES"
    SponsorName="Emily Biscoglia"
    SponsorContact="emily.bernier@gmail.com"
    Link="https://www.signupgenius.com/go/409054FAFAF23AAF85-52458937-beta#/"
    Image="https://www.signupgenius.com/images/theme/047E80754826EA53314AB2F50849456E_0.png"
    />
    <OpportunityCard
    Title="State Bridge Crossing Fall Festival"
    Hours="1 Hour"
    Expired="Expired"
    Location="State Bridge ES"
    SponsorName="Humaira Nasir"
    SponsorContact="678-702-3673"
    Link="https://www.signupgenius.com/go/60B044AA5AF2FA2F94-50335901-sbce#/"
    Image="https://www.signupgenius.com/images/theme/D8FFA45A6CBBE9A9D7A90BF3B2DFCA02_0.png"
    />
    <OpportunityCard
    Title="Trunk or Treat Candy Donation"
    Hours="1 Hour"
    Expired="Expired"
    Location="Chattahoochee HS"
    SponsorName="Ms. Lee"
    SponsorContact="leelc@fultonschools.org"
    Link="https://www.signupgenius.com/go/10C084DACAF2CA7FFC61-51364180-johns#/"
    Image="https://www.signupgenius.com/images/theme/mi_halloween_party.jpg"
   />
   <OpportunityCard
    Title="Sensory Board Donation"
    Hours="1 Hour"
    Expired="Expired"
    Location="Chattahoochee HS"
    SponsorName="Ms. Lee"
    SponsorContact="leelc@fultonschools.org"
    Link="https://www.signupgenius.com/go/10C0E4EABA92BA0FFC43-51435618-sensory#/"
    Image="https://s3.amazonaws.com/images.signupgenius.com/memberImages/2D8148FD49D3EB8F77AAFBEE27710E34_133760223.png"
   />
    <OpportunityCard
    Title="Ocee Elementary Carnival"
    Hours="2-2.5 Hours"
    Expired="Expired"
    Location="Ocee Elementary"
    SponsorName="Amy Pekins"
    SponsorContact="familyevents.oef.pto@gmail.com"
    Link="https://www.signupgenius.com/go/5080849A5AC29A7F85-51284087-ocee#/"
    Image="https://www.signupgenius.com/images/theme/838B2565477D6E1B31AC9A990824274F_0.png"
  />
  <OpportunityCard
    Title="JC Methodist Consignment Sale"
    Hours="3 Hours/Shift"
    Expired="Expired"
    Location="JC UMC"
    SponsorName="JC Methodist Church"
    SponsorContact="johnscreekumcsale@gmail.com"
    Link="https://www.signupgenius.com/go/10C0E4CA9A722A7F8C34-50985249-childrens#/"
    Image="https://s3.amazonaws.com/images.signupgenius.com/memberImages/561B6E21F324B427A71C74F1D3E8D712_131589554.jpg"
  />
  <OpportunityCard
    Title="CHS Fencing Tournament"
    Hours="1-4 Hours/Shift"
    Expired = "Expired"
    Location="CHS"
    SponsorName="Kemi Tunwashe"
    SponsorContact="310-780-6966"
    Link="https://www.signupgenius.com/go/10C0A4CA9AF22A1F4C52-50951977-volunteers#/"
    Image="https://www.signupgenius.com/images/theme/759C5A0B9BF62E5912C346A233D95BFE_0.png"
  />
  <OpportunityCard
    Title="Help Your Teachers"
    Hours="2.5 Hours"
    Expired = "Expired"
    Location="CHS"
    SponsorName="Ms. Lee"
    SponsorContact="leelc@fultoncountyschools.org"
    Link="https://www.signupgenius.com/go/5080D44A5AA2EA7F58-50393997-teacher"
    Image="https://www.signupgenius.com/images/theme/C5145FF2779364F906B97AF758FC3465_0.png"
  />
</main>
</MainLayout>
