---
import "../styles/Beta.css";
---

<div id="page-container">
  <div class="menu-btn">
    <i class="fa fa-bars"></i>
    <a href="../"> <img src="/Images/Logo.png" alt="Logo" class="Logo" /> </a>
  </div>
  <nav class="navbar">
    <div class="close-btn">
      <img src="/Images/Logo.png" alt="Logo" class="Logo" />
      <i class="fa fa-times"></i>
    </div>
    <ul class="nav-links">
      <li>
        <a href="../"><img src="/Images/Logo.png" alt="Logo" class="Logo" /></a>
      </li>
      <li class="School"><p>Chattahoochee HS Beta</p></li>
      <li class="nav-item"><a href="../">Home</a></li>
      <div class="subnav">
        <a class="subnavbtn">
          About <i class="fa fa fa-angle-down dropdown"></i>
        </a>
        <div class="subnav-content">
          <li><a href="../Leadership" class="sub-item">Leadership</a></li>
          <li><a href="../FAQ" class="sub-item">FAQ</a></li>
        </div>
      </div>
      <div class="subnav">
        <a class="subnavbtn" href = "../Opportunities">Opportunities</a>
      </div>
      <div class="subnav">
        <a class="subnavbtn" href = "https://forms.gle/hME1PGa3JxmJF4RP6">Form</a>
      </div>
      <div class="subnav">
        <a class="subnavbtn"
          >Hours<i class="fa fa fa-angle-down dropdown"></i></a
        >
        <div class="subnav-content">
          <li><a href="../Check" class="sub-item">Hour Count</a></li>
          <li><a href="../Status" class="sub-item">Denied Hours</a></li>
          <li>
            <a href="../Rankings" class="sub-item">Family Rankings</a>
          </li>
        </div>
      </div>
      <div class="brands">
        <li>
          <a href="https://www.instagram.com/hooch_beta/?hl=en" target="_blank"
            ><i
              class="fa-brands fa-square-instagram fa-2x"
              style="color: #DD27AB;"></i></a
          >
        </li>
        <li>
          <a href="https://twitter.com/hoochbeta?lang=en" target="_blank"
            ><i
              class="fa-brands fa-square-x-twitter fa-2x"
              style="color: #000000;"></i></a
          >
        </li>
      </div>
    </ul>
  </nav>
</div>
<script>
  document.querySelectorAll(".subnavbtn").forEach(function (btn) {
    btn.addEventListener("click", function () {
      var subnavContent = this.nextElementSibling;
      var menu = this.querySelector(".dropdown");
      if (subnavContent.style.display === "block") {
        subnavContent.style.display = "none";
        menu.style.transform = "rotate(0deg)";
      } else {
        subnavContent.style.display = "block";
        menu.style.transform = "rotate(90deg)";
      }
    });
  });
  const preferDark = window.matchMedia('(prefers-color-scheme: dark)')
  if(preferDark.matches){
    let image = document.querySelectorAll('.Logo')
    image.forEach((img:HTMLImageElement)=>{
      img.src = "/Images/Logo-Dark.png"
    })
  }
  document.querySelector(".menu-btn").addEventListener("click", function () {
    var navbar = document.querySelector(".navbar");
    navbar.classList.add("active");
    this.style.visibility = "hidden";
  });

  document.querySelector(".close-btn").addEventListener("click", function () {
    const menubtn = document.querySelector(".menu-btn") as any;
    menubtn.style.visibility = "visible";
    var navbar = document.querySelector(".navbar");
    navbar.classList.remove("active");
  });
</script>
