---
import "../styles/Beta.css";
---

<div id="page-container">
  <div class="menu-btn">
    <i class="fa fa-bars"></i>
  </div>
  <nav class="navbar">
    <div class="close-btn">
      <img src="/Images/Logo.png" alt="Logo" class="Logo" />
      <i class="fa fa-times"></i>
    </div>
    <ul class="nav-links">
      <li><img href = "../" src="/Images/Logo.png" alt="Logo" class="Logo" /></li>
      <li class="School">Chattahoochee HS Beta</li>
      <li class="nav-item"><a href="../">Home</a></li>
      <div class="subnav">
        <a class="subnavbtn"
          >About<i class="fa fa fa-angle-down dropdown"></i></a
        >
        <div class="subnav-content">
          <li><a href="../Leadership" class="sub-item">Leadership</a></li>
          <li><a href="../FAQ" class="sub-item">FAQ</a></li>
        </div>
      </div>
      <div class="subnav">
        <a class="subnavbtn"
          >Events<i class="fa fa fa-angle-down dropdown"></i></a
        >
        <div class="subnav-content">
          <li><a href="../Betacon" class="sub-item">Betacon</a></li>
          <li>
            <a href="../Newsletter" class="sub-item">Newsletter</a>
          </li>
          <li><a href="../Opportunities" class="sub-item">Opportunities</a></li>
        </div>
      </div>
      <div class="subnav">
        <a class="subnavbtn"
          >Hours<i class="fa fa fa-angle-down dropdown"></i></a
        >
        <div class="subnav-content">
          <li>
            <a href="https://forms.gle/Tk6BPmCaM9c3F3Bu5" class="sub-item"
              >Form</a
            >
          </li>
          <li><a href="../Check" class="sub-item">Hour Count</a></li>
          <li><a href="../Status" class="sub-item">Denied Hours</a></li>
          <li>
            <a href="../Rankings" class="sub-item">Family Rankings</a>
          </li>
        </div>
      </div>
      <div class="brands">
        <li>
          <a href="https://www.instagram.com/hooch_beta/?hl=en" target="_blank"
            ><i
              class="fa-brands fa-square-instagram fa-2x"
              style="color: #DD27AB;"></i></a
          >
        </li>
        <li>
          <a href="https://twitter.com/hoochbeta?lang=en" target="_blank"
            ><i
              class="fa-brands fa-square-x-twitter fa-2x"
              style="color: #000000;"></i></a
          >
        </li>
      </div>
    </ul>
  </nav>
</div>
<script>
  document.querySelectorAll(".subnavbtn").forEach(function (btn) {
    btn.addEventListener("click", function () {
      var subnavContent = this.nextElementSibling;
      if (subnavContent.style.display === "block") {
        subnavContent.style.display = "none";
      } else {
        subnavContent.style.display = "block";
      }
    });
  });

  document.querySelector(".menu-btn").addEventListener("click", function () {
    var navbar = document.querySelector(".navbar");
    navbar.classList.add("active");
    this.style.visibility = "hidden";
  });

  document.querySelector(".close-btn").addEventListener("click", function () {
    const menubtn = document.querySelector(".menu-btn") as any;
    menubtn.style.visibility = "visible";
    var navbar = document.querySelector(".navbar");
    navbar.classList.remove("active");
  });
</script>
