:root{
    --bg: 16,16,16;/*Black*/
    --primary:45, 45, 45;/*Gray*/
    --accent: 207, 181, 59;/*Gold*/
    --secondary:50,50,50;/*Lighter Gray*/
    --Gradient:0, 70, 111;/*Green*/
    /*--secondary:5,75,116;Light Green*/
    --text-color:255,255,255;/*White*/  
}
.Check{
    width: 100%;
    height: 51vh;
    border: none;
}
#row1{
    height: 25vh ;
    background-image: linear-gradient(to right, rgb(var(--Gradient)), rgb(var(--accent)) );
}
#row1,.hours, .meeting, .vary{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hours, .meeting, .vary{
    color: rgb(32,32,32);
    padding: 10px;
    aspect-ratio: 1/1;
    width: 200px;
    font-size: 24px;
}
.index-wrap{
    padding-bottom: 5em;
}
@media(max-width:740px){
    .hours, .meeting, .vary{
        width: 150px;
        font-size: 18px;
    }
}