:root{
  --bg: 16,16,16;/*Black*/
  --primary:45, 45, 45;/*Gray*/
  --accent: 207, 181, 59;/*Gold*/
  --secondary:50,50,50;/*Lighter Gray*/
  /*--primary:0, 70, 111;Green
  --secondary:5,75,116;Light Green*/
  --text-color:255,255,255;/*White*/  
}
.header{
  text-align: center;
  margin-bottom: 10px;
  color: rgb(var(--text-color));
}
main{
display: grid;
grid-template-columns: repeat(4, 0.25fr);
grid-template-rows: 1fr 0.25fr 1fr 1fr;
grid-template-areas:
"📅 🏫 🏫 🏫"
"📅 🐕‍🦺 🐕‍🦺 🐕‍🦺"
"📅 📷 📷 📷"
"📅 🤝 🤝 🤝";
width: 100%;
height:100vh;
padding:10px;
gap: .5rem;
z-index: -2;
}
.Events{
grid-area: 📅;
padding-right: 10px;
text-align: center;
z-index: 0;
}
.Hooch{
grid-area: 🏫;
text-align: center;
}
.Hooch>p{
font-size: 18px;
}

.Motto{
grid-area: 🐕‍🦺;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
margin: 5px 0;
font-weight: 500;
color: rgb(var(--accent));
}

.Pictures{
grid-area: 📷;
display: flex;
justify-content: center;
}
.Meeting{
grid-area: 🤝;
text-align: center;
margin-top: 20px;
}
.Meeting-Grid{
display: grid;
grid-template-areas:
"Fall Spring"
"Date1 Date6"
"Date2 Date7"
"Date3 Date8"
"Date4 Date9" 
"Date5 Date10";
align-items: center;
text-align: center;
gap: .5rem;
margin: 5px;
}
.dates{
font-size: .9vw;
font-weight: 200;
}

.slider{
width: 444px;
height: 250px;
border-radius: 10px;
overflow: hidden;
}
.slides{
width: 500%;
height: 250px;
display: flex;
}
.slides input{
display: none;
}
.slide{
width: 20%;
transition: 2s;
}
.slide img{
width: 444px;
height: 250px;
}
/* Css for manual slide navigation */
.navigation-manual{
position: absolute;
width: 444px;
margin-top: 10px;
display: flex;
justify-content: center;
}
.manual-btn{
border: 2px solid rgb(var(--accent));
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}
.manual-btn:not(:last-child){
margin-right: 20px ;
}
.manual-btn:hover{
background-color: rgb(var(--accent));
}
#radio0:checked ~ .first{
margin-left: 0;
}
#radio1:checked ~ .first{
margin-left: -20%;
}
#radio2:checked ~ .first{
margin-left: -40%;
}
#radio3:checked ~ .first{
margin-left: -60%;
}
#radio4:checked ~ .first{
margin-left: -80%;
}
#radio5:checked ~ .first{
margin-left: -100%;
}
#radio6:checked ~ .first{
margin-left: -120%;
}
/* Css for automatic navigation */

.navigation-auto{
position: absolute;
display: flex;
width: 444px;
justify-content: center;
margin-top: 260px;
}
.navigation-auto div{
border: 2px solid rgb(var(--accent));
padding: 5px;
border-radius: 10px;
transition: 1s;
}
.navigation-auto div:not(:last-child){
margin-right: 20px;
}
#radio0:checked ~ .navigation-auto .auto-btn0{
background-color: rgb(var(--accent));
}
#radio1:checked ~ .navigation-auto .auto-btn1{
background-color: rgb(var(--accent));
}
#radio2:checked ~ .navigation-auto .auto-btn2{
background-color: rgb(var(--accent));
}
#radio3:checked ~ .navigation-auto .auto-btn3{
background-color: rgb(var(--accent));
}
#radio4:checked ~ .navigation-auto .auto-btn4{
background-color: rgb(var(--accent));
}
#radio5:checked ~ .navigation-auto .auto-btn5{
background-color: rgb(var(--accent));
}
#radio6:checked ~ .navigation-auto .auto-btn6{
background-color: rgb(var(--accent));
}
.check{
width: 100%;
height: 100svw;
border: none;
padding: 5px;
min-width: 320px;
}
.index{
width: 100%;
height: 100%;
border: none;
min-width: 183px;
}
@media(max-width:740px) {
    main{
      display:block;
    }
    .index{
      height: 35vh;
    }
    .Hooch>p{
      font-size: 1.8vh;
    }
    .Pictures{
      margin-bottom: 30px;
    }
    .dates{
      font-size: 12px;
    }
    .navigation-manual{
      width: 405px;
    }
    .navigation-auto{
      width: 405px;
    }
}
@media(max-width:400px){
  .navigation-manual{
    width: 355px;
  }
  .navigation-auto{
    width: 355px;
  }
}