:root{
    --bg: 16,16,16;/*Black*/
    --primary:45, 45, 45;/*Gray*/
    --accent: 207, 181, 59;/*Gold*/
    --secondary:50,50,50;/*Lighter Gray*/
    /*--primary:0, 70, 111;Green
    --secondary:5,75,116;Light Green*/
    --text-color:255,255,255;/*White*/  
}
h1{
    text-align: center;
    font-size: 36px;
    padding:10px
}
.Para{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight:300;
    padding-left:50px; 
    padding-right:50px;
}
main{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 10px;
    justify-content: center;
}
.ArianaS{
    background: rgb(var(--primary)); 
    color: #FA86C4;
}
.Aditya{
    background: rgb(var(--primary)); 
    color: #a50404;
}
.Aneesh{
    background: rgb(var(--primary)); 
    color: #056ca8;
}
.Rachel{
    background: rgb(var(--primary)); 
    color: #1e741e;
}
.Rabiya{
    background: rgb(var(--primary)); 
    color: #0e9f33;
}
.Natalie{
    background: rgb(var(--primary));  
    color: #a75fef;
}
.Devon{
    background-color:rgb(var(--primary)) ;
    color: #1338BE;
}

.Stuti{
    background: rgb(var(--primary)); 
    color: #967bb6;
}

.Yanna{
    background: rgb(var(--primary)); 
    color: #6700cd;
}

.Emily{
    background: rgb(var(--primary)); 
    color: #e0a434;
}

.Vikhyat{
    background: rgb(var(--primary)); 
    color: #8c7ea6;
}

.Ravnoor{
    background: rgb(var(--primary)); 
    color: #3942e6;
}

.Shihyun{
    background: rgb(var(--primary)); 
    color: #98540f;
}

.Osinachi{
    background: rgb(var(--primary)); 
    color: #dcc542;
}

.Adarsh{
    background: rgb(var(--primary)); 
    color: #ADD8E6;
}

.box{
    height: 220px;
    width: 450px ;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 
    "📷 📛"
    "📷 🧑"
    "👑 👑";
    padding: 10px;
    border-radius: 5px;

}
.Face{
    grid-area: 📷;
    border-radius: 100%;
    width: 120px;
    margin: 10px;
    height: 120px;

}
.Name{
    grid-area: 📛;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
}
.Crest{
    border-radius: 100%;
    width: 85px;
    margin-left: auto;
    padding-right: 5px;
}
.Title{
    grid-area: 👑;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 500;
}
.Mail{
    margin-left: auto;
    padding-right: 5px;
}
.About{
    grid-area: 🧑;
    font-size: 15px;
    margin-top: 5px;
    color: rgb(var(--text-color));
}

#Leader-wrap{
    padding-bottom: 5rem;
}
@media (max-width:770px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width:450px){
    body{
        overflow-x: visible;
    }
}
