:root{
    --primary:0, 98, 111;
    --bg: 16,16,16;
    --accent: 207, 181, 59; 
    --primary-dark:0,82, 95; 
}
h1{
    text-align: center;
    font-size: 36px;
}
.Para{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
main{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 10px;
    justify-content: center;
}
.ArianaS{
    background-color:#3944BC;
    color: #FD5DA8;
}
.Aditya{
    background: rgb(109, 3, 3);
    color: #000000;
}
.Aneesh{
    background: rgb(0, 71,171);
    color: #140f0f;
}
.Rachel{
    background: rgb(34, 139, 34);
    color: #454545;
}
.Rabiya{
    background-color: #653496;
    color: #15b13c;
}
.Natalie{
    background-color: #9051cf;
    color: #21cf50;
}
.Devon{
    color: #0078ff;
    background-color: #7040c8;
}

.Stuti{
    background-color:#967bb6;
    color: #FD5DA8;
}

.Yanna{
    background: #390f62;
    color: orange;
}

.Emily{
    background: #000080;
    color: rgb(224, 164, 52);
}

.Vikhyat{
    background: #03037f;
    color: rgb(154, 146, 169);
}

.Ravnoor{
    background: #272da2;
    color: rgb(0, 0, 0);
}

.Shihyun{
    background-color: grey;
    color: #98540f;
}

.Osinachi{
    background-color: rgba(255, 217, 0, 0.877);
    color: black;
}

.Adarsh{
    background-color: rgb(130, 4, 4);
    color: #595756;
}

.box{
    height: 220px;
    width: 425px ;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 
    "📷 📛"
    "📷 🧑"
    "👑 👑";
    padding: 10px;
    border-radius: 5px;

}
.Face{
    grid-area: 📷;
    border-radius: 100%;
    width: 120px;
    margin: 10px;
    height: 120px;

}
.Name{
    grid-area: 📛;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    margin: auto;
    gap: 10px;
}
.Crest{
    border-radius: 100%;
    width: 85px;
}
.Title{
    grid-area: 👑;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 500;
}
.Mail{
    margin-left: auto;
    padding-right: 5px;
}
.About{
    grid-area: 🧑;
    font-size: 16px;
    color: white;
}
@media (max-width:770px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width:450px){
    body{
        overflow-x: visible;
    }
}
